apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
bootstrapTokens:
- token: du8n39.pt5j1gcde7zw1ghv
nodeRegistration:
  criSocket: /var/run/crio/crio.sock
  name: m-2-k8s
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
kubernetesVersion: "v1.22.2"
clusterName: "kubernetes"
controlPlaneEndpoint: "192.168.8.33:6443"
controllerManager: {}
dns: {}
networking:
  dnsDomain: "cluster.local"
  serviceSubnet: "10.96.0.0/12"
  podSubnet: "10.244.0.0/16"
apiServer:
  extraArgs:
    authorization-mode: Node,RBAC
    allow-privileged: "true"
  certSANs:
    - "127.0.0.1"
    - "m-1-k8s"
    - "m-2-k8s"
    - "192.168.8.11"
    - "192.168.8.12"
    - "192.168.8.33"
scheduler: {}
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: JoinConfiguration
nodeRegistration:
  name: m-2-k8s
discovery:
  bootstrapToken:
    token: du8n39.pt5j1gcde7zw1ghv
    apiServerEndpoint: "192.168.8.33:6443"
    caCertHashes: ["sha256:638c7ab60f6dcfd723cc0a32968775fa05a8361d96ecfb1c8c7c4e960d5bcba0"]
controlPlane:
 certificateKey: "d4a4922ef141c37a37a632d1da7e704483612d82017bf816b48dc40d11e92dc1"

